<div class="container" dir="rtl">


  <div class="head">
    <h4>
      حدد مواعيد العمل للمورد
    </h4>
    <p>
      تكوين إعدادات الأسبوع الخاص بك هنا. ما عليك سوى تحريك أشرطة التمرير وإضافة / إزالة أوقات الراحة لإعداد ساعات
      العمل.
    </p>
  </div>
  <div class="body">
    <div class="row">
      <p-inputSwitch [(ngModel)]="Saturday" [disabled]="true"></p-inputSwitch>
      <p>السبت</p>
    </div>
    <br>
    <div class="row">
      <p-inputSwitch [(ngModel)]="Sunday"></p-inputSwitch>
      <p>الاحد</p>
      <div class="conTime">
        <div class="time" *ngFor="let day of days; let i = index">
          <div class="time-slot">
            <div class="start">
              <label>وقت البدء</label>
              <p-calendar [(ngModel)]="day.start" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <div class="end">
              <label>وقت الانتهاء</label>
              <p-calendar [(ngModel)]="day.end" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <button class="removeBtn" (click)="removeTimeSlot(i)">-</button>
          </div>
        </div>
        <button class="addBtn" (click)="addTimeSlot()">+</button>
      </div>


    </div>

    <div class="row">
      <p-inputSwitch [(ngModel)]="Sunday"></p-inputSwitch>
      <p>الإثنين</p>
      <div class="conTime">
        <div class="time" *ngFor="let day of days1; let i = index">
          <div class="time-slot">
            <div class="start">
              <label>وقت البدء</label>
              <p-calendar [(ngModel)]="day.start" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <div class="end">
              <label>وقت الانتهاء</label>
              <p-calendar [(ngModel)]="day.end" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <button class="removeBtn" (click)="removeTimeSlot1(i)">-</button>
          </div>
        </div>
        <button class="addBtn" (click)="addTimeSlot1()">+</button>
      </div>


    </div>
    <div class="row">
      <p-inputSwitch [(ngModel)]="Sunday"></p-inputSwitch>
      <p>الثلاثاء</p>
      <div class="conTime">
        <div class="time" *ngFor="let day of days2; let i = index">
          <div class="time-slot">
            <div class="start">
              <label>وقت البدء</label>
              <p-calendar [(ngModel)]="day.start" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <div class="end">
              <label>وقت الانتهاء</label>
              <p-calendar [(ngModel)]="day.end" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <button class="removeBtn" (click)="removeTimeSlot2(i)">-</button>
          </div>
        </div>
        <button class="addBtn" (click)="addTimeSlot2()">+</button>
      </div>


    </div>
    <div class="row">
      <p-inputSwitch [(ngModel)]="Sunday"></p-inputSwitch>
      <p>الأربعاء</p>
      <div class="conTime">
        <div class="time" *ngFor="let day of days3; let i = index">
          <div class="time-slot">
            <div class="start">
              <label>وقت البدء</label>
              <p-calendar [(ngModel)]="day.start" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <div class="end">
              <label>وقت الانتهاء</label>
              <p-calendar [(ngModel)]="day.end" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <button class="removeBtn" (click)="removeTimeSlot3(i)">-</button>
          </div>
        </div>
        <button class="addBtn" (click)="addTimeSlot3()">+</button>
      </div>


    </div>
    <div class="row">
      <p-inputSwitch [(ngModel)]="Sunday"></p-inputSwitch>
      <p>الخميس</p>
      <div class="conTime">
        <div class="time" *ngFor="let day of days4; let i = index">
          <div class="time-slot">
            <div class="start">
              <label>وقت البدء</label>
              <p-calendar [(ngModel)]="day.start" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <div class="end">
              <label>وقت الانتهاء</label>
              <p-calendar [(ngModel)]="day.end" [showTime]="true" [showSeconds]="true"></p-calendar>
            </div>
            <button class="removeBtn" (click)="removeTimeSlot4(i)">-</button>
          </div>
        </div>
        <button class="addBtn" (click)="addTimeSlot4()">+</button>
      </div>


    </div>

    <div class="row">
      <p-inputSwitch [(ngModel)]="Saturday" [disabled]="true"></p-inputSwitch>
      <p>الجمعة</p>
    </div>
  </div>
